<!----
Title: Assignment 4.3; 
Author: Professor Krasso ; 
Date: 3 November 2020; 
Modified By: Douglas Jenkins; 
Description: API Gateway 3
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
